@charset "UTF-8";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    @include text-base;
    min-height: 100vh;
    background: $color-base-inverse;
    color: $color-base;

    @if $enable-sticky-footer == true {
        display: flex;
        flex-direction: column;
    }
}

a {
    &.is-current {
        cursor: default;

        &:hover {
            color: inherit;
        }
    }
}

button,
input,
select,
textarea {
    background: none;
    border: none;
    font: inherit;
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

h4 {
    @include h4;
}

h5 {
    @include h5;
}

h6 {
    @include h6;
}

img {
    max-width: 100%;

    &[width],
    &[height] {
        max-width: none;
    }
}

ol,
ul {
    list-style: none;
}

small {
    @include text-small;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    resize: none;
}
