doctype html

html
    head
        block title
        link(rel='stylesheet' media='all' href='css/application.css')
        script(src='vendor/modernizr-custom.js')

    body
        include components/_site_header

        main
            block main

        include components/_site_footer

        block scripts
            script(src='vendor/jquery.min.js')
            script(src='vendor/svg4everybody.min.js')

            script(src='js/application.js')
