doctype html

html.mod_no-js(lang='ru')
    head
        block title
        link(rel='stylesheet' media='all' href='css/application.css')
        script(src='js/modernizr.js')

    body
        include components/_site_header

        main
            block main

        include components/_site_footer

        block scripts
            script(src='js/application.js')
