@charset "UTF-8";

// Media queries
$enable-mq:        true;
$enable-mq-device: true;

// Various
$enable-sticky-footer: true;
$enable-icons:         true;
$enable-rub:           true;

// Plugins
$enable-accordions: true;
$enable-tooltips:   true;

// Components / Forms
$enable-checkboxes:   true;
$enable-labels:       true;
$enable-radiobuttons: true;
