@import url(../../../node_modules/normalize.css/normalize.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.5rem;
  line-height: 1.33333;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column; }

a.is-current {
  cursor: default; }
  a.is-current:hover {
    color: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  background: none;
  border: none; }

h1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700; }

h2 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700; }

h3 {
  font-size: 4rem;
  line-height: 1;
  font-weight: 700; }

h4 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700; }

h5 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700; }

h6 {
  font-size: 1.5rem;
  line-height: 1.33333;
  font-weight: 700; }

ol,
ul {
  list-style: none; }

img {
  max-width: 100%; }
  img[width], img[height] {
    max-width: none; }

small {
  font-size: 1rem;
  line-height: 1.5; }

textarea {
  resize: none; }

.container {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto; }

.icon {
  fill: #000;
  fill-rule: evenodd; }
  .icon--16 {
    height: 1.6rem;
    width: 1.6rem; }

.accordion[data-accordion="collapsed"] > dd {
  display: none; }
.accordion[data-accordion="expanded"] > dt::after {
  transform: rotate(180deg); }
.accordion[tabindex='-1'] {
  outline: none; }
  .accordion[tabindex='-1']:focus > dt::after {
    transform: rotate(180deg); }
  .accordion[tabindex='-1']:focus > dt + dd {
    display: block; }
  .accordion[tabindex='-1'] > dd {
    display: none; }
.accordion > dt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }
  .accordion > dt::after {
    height: 0;
    width: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid #000;
    content: "";
    transition: transform 0.2s;
    will-change: transform; }

.tooltip {
  position: relative;
  cursor: pointer;
  outline: none; }
  .tooltip[data-action="hover"]:hover .tooltip__popup {
    display: block; }
    .tooltip[data-action="hover"]:hover .tooltip__popup:hover {
      display: block; }
  .tooltip[data-action="focus"]:focus .tooltip__popup {
    display: block; }
  .tooltip[data-action="active"]:active .tooltip__popup {
    display: block; }
  .tooltip[data-position="top"] .tooltip__popup, .tooltip[data-position="bottom"] .tooltip__popup {
    left: 50%;
    transform: translateX(-50%); }
    .tooltip[data-position="top"] .tooltip__popup::before, .tooltip[data-position="bottom"] .tooltip__popup::before {
      right: 0;
      left: 0; }
    .tooltip[data-position="top"] .tooltip__popup::after, .tooltip[data-position="bottom"] .tooltip__popup::after {
      left: 50%;
      transform: translateX(-50%); }
  .tooltip[data-position="top"] .tooltip__popup {
    bottom: 100%;
    padding: 1rem 2rem 2rem; }
    .tooltip[data-position="top"] .tooltip__popup::before {
      top: 0;
      bottom: 1rem; }
    .tooltip[data-position="top"] .tooltip__popup::after {
      height: 0;
      width: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-top: 0.5rem solid #fff;
      bottom: 0.5rem; }
  .tooltip[data-position="bottom"] .tooltip__popup {
    top: 100%;
    padding: 2rem 2rem 1rem; }
    .tooltip[data-position="bottom"] .tooltip__popup::before {
      top: 1rem;
      bottom: 0; }
    .tooltip[data-position="bottom"] .tooltip__popup::after {
      height: 0;
      width: 0;
      border-bottom: 0.5rem solid #fff;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      top: 0.5rem; }
  .tooltip[data-position="right"] .tooltip__popup, .tooltip[data-position="left"] .tooltip__popup {
    top: 50%;
    transform: translateY(-50%); }
    .tooltip[data-position="right"] .tooltip__popup::before, .tooltip[data-position="left"] .tooltip__popup::before {
      top: 0;
      bottom: 0; }
    .tooltip[data-position="right"] .tooltip__popup::after, .tooltip[data-position="left"] .tooltip__popup::after {
      top: 50%;
      transform: translateY(-50%); }
  .tooltip[data-position="right"] .tooltip__popup {
    left: 100%;
    padding: 1rem 2rem 1rem 3rem; }
    .tooltip[data-position="right"] .tooltip__popup::before {
      right: 0;
      left: 1rem; }
    .tooltip[data-position="right"] .tooltip__popup::after {
      height: 0;
      width: 0;
      border-bottom: 0.5rem solid transparent;
      border-right: 0.5rem solid #fff;
      border-top: 0.5rem solid transparent;
      left: 0.5rem; }
  .tooltip[data-position="left"] .tooltip__popup {
    right: 100%;
    padding: 1rem 3rem 1rem 2rem; }
    .tooltip[data-position="left"] .tooltip__popup::before {
      right: 1rem;
      left: 0; }
    .tooltip[data-position="left"] .tooltip__popup::after {
      height: 0;
      width: 0;
      border-bottom: 0.5rem solid transparent;
      border-left: 0.5rem solid #fff;
      border-top: 0.5rem solid transparent;
      right: 0.5rem; }
  .tooltip__popup {
    position: absolute;
    z-index: 100;
    display: none;
    cursor: default; }
    .tooltip__popup::before, .tooltip__popup::after {
      position: absolute;
      content: ""; }
    .tooltip__popup::before {
      z-index: -1;
      background: #fff;
      box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1); }
    .tooltip__popup::after {
      z-index: 1; }

.checkbox {
  height: 2rem;
  width: 2rem;
  position: relative;
  display: inline-block; }
  .checkbox > input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0; }
    .checkbox > input + span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      border: 1px solid rgba(0, 0, 0, 0.4); }
      .checkbox > input + span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 0;
        width: 0;
        transform: translate(-50%, -50%);
        background: #000;
        content: "";
        transition: all 0.2s; }
    .checkbox > input:checked + span::after {
      height: 1rem;
      width: 1rem; }
    .checkbox > input:disabled {
      cursor: not-allowed; }
      .checkbox > input:disabled + span {
        opacity: .2; }

.label {
  display: block; }
  .label--has-checkbox {
    position: relative;
    padding-left: 3rem; }
    .label--has-checkbox .checkbox {
      position: absolute;
      top: -0.1rem;
      left: 0; }
  .label--has-radiobutton {
    position: relative;
    padding-left: 3rem; }
    .label--has-radiobutton .radiobutton {
      position: absolute;
      top: -0.1rem;
      left: 0; }

.radiobutton {
  height: 2rem;
  width: 2rem;
  position: relative;
  display: inline-block; }
  .radiobutton > input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0; }
    .radiobutton > input + span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 50%; }
      .radiobutton > input + span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 0;
        width: 0;
        transform: translate(-50%, -50%);
        background: #000;
        border-radius: 50%;
        content: "";
        transition: all 0.2s; }
    .radiobutton > input:checked + span::after {
      height: 1rem;
      width: 1rem; }
    .radiobutton > input:disabled {
      cursor: not-allowed; }
      .radiobutton > input:disabled + span {
        opacity: .2; }

.site-footer {
  margin-top: auto; }
