extends layouts/application

block title
    title Demo / Neo

block main
    .container
        br
        br
        br

        article
            h3 Links
            br

            h6: a(href='#') Heading link
            br
            p: a(href='#') Link
            br
            p: a(href='#') <span style='display: inline-block; width: 1rem; height: 1rem; margin-right: 1rem; background: #000;'></span>Link with icon
            br
            p: a.pseudo-link(href='#') <span class='pseudo-link__underline'>Pseudo link</span>
            br
            p: a.pseudo-link(href='#') <span style='display: inline-block; width: 1rem; height: 1rem; margin-right: 1rem; background: #000;'></span><span class='pseudo-link__underline'>Pseudo link with icon</span>

        br
        br
        br

        article
            h3 Forms
            br

            section
                h5 Buttons
                br

                div(style='width: 200px;')
                    p: button.button(type='button') Button
                    br
                    p: input.button(type='submit' value='Submit' disabled)
                    br
                    p: a.button.button--block(href='#') Link

            br
            br

            section
                h5 Checkboxes
                br

                div
                    span.checkbox
                        input(type='checkbox' checked)
                        span
                    | &nbsp;
                    span.checkbox
                        input(type='checkbox' disabled)
                        span
                    | &nbsp;
                    span.checkbox.checkbox--invalid
                        input(type='checkbox')
                        span
            br
            br

            section
                h5 Inputs
                br

                div(style='width: 200px;')
                    .input
                        input(placeholder='Placeholder')
                    br
                    .input
                        input(value='Disabled' disabled)
                    br
                    .input.input--invalid
                        input(value='Value')
            br
            br

            section
                h5 Radios
                br

                div
                    span.radio
                        input(type='radio' name='radio' checked)
                        span
                    | &nbsp;
                    span.radio
                        input(type='radio' name='radio' disabled)
                        span
                    | &nbsp;
                    span.radio.radio--invalid
                        input(type='radio' name='radio')
                        span
            br
            br

            section
                h5 Selects
                br

                div(style='width: 200px;')
                    .select
                        select
                            option(disabled selected) Placeholder
                            option Option 1
                            option Option 2
                            option Option 3
                        span
                    br
                    .select
                        select(disabled)
                            option(selected) Option 1
                            option Option 2
                            option Option 3
                        span
                    br
                    .select.select--invalid
                        select
                            option(selected) Option 1
                            option Option 2
                            option Option 3
                        span
            br
            br

            section
                h5 jQuery UI Selectmenu
                br

                div(style='width: 200px;')
                    select.js-selectmenu
                        option(selected disabled) Placeholder
                        option Option 1
                        option Option 2
                        option Option 3
                br
                div(style='width: 200px;')
                    select.js-selectmenu
                        option(selected) Option 1
                        option Option 2
                        option Option 3
            br
            br

            section
                h5 Textareas
                br

                div(style='width: 200px;')
                    .textarea
                        textarea(rows='4' placeholder='Placeholder')
                    br
                    .textarea
                        textarea(rows='4' disabled) Disabled
                    br
                    .textarea.textarea--invalid
                        textarea(rows='4') Value

        br
        br
        br

        article
            h3 WYSIWYG
            br

            .wysiwyg
                h1 Lorem ipsum
                p <a href='#'>Lorem ipsum</a> <b>dolor</b> <i>sit</i> <strong>amet</strong>, <em>consectetur</em> <sub>adipiscing</sub> <sup>elit</sup>, <cite>sed do eiusmod</cite> <q>tempor incididunt</q> <del>ut labore</del> <ins>et dolore</ins> <mark>magna aliqua</mark>. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                blockquote
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    footer
                        cite Lorem ipsum

                h2 Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                // Figure

                h3 Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                // Img

                h4 Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                dl
                    dt Lorem ipsum
                    dd Lorem ipsum dolor sit amet

                h5 Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                ol
                    li Lorem ipsum
                    li Lorem ipsum
                    li Lorem ipsum

                h6 Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                ul
                    li Lorem ipsum
                    li Lorem ipsum
                    li Lorem ipsum

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                // Table
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        br
        br
        br
