extends layouts/application

block title
    title Neo
    style.
        .accordion dd {
            margin-left: 2rem;
        }

block main
    nav(role='navigation')
        .container
            ul
                li
                    a.js-anchor(href='#anchor-accordions') Accordions
                li
                    a.js-anchor(href='#anchor-tooltips') Tooltips
                li
                    a.js-anchor(href='#anchor-headings') Headings
                li
                    a.js-anchor(href='#anchor-forms') Forms

    br

    article#anchor-accordions(style='min-height: 50vh;')
        .container
            section
                h5 Accordions
                br
                h6 &lt;details&gt;
                br
                details
                    summary Accordion title
                    | Accordion content
                details(open)
                    summary Accordion title
                    | Accordion content
                br
                h6 CSS
                br
                dl.accordion(tabindex='-1')
                    dt Accordion title
                    dd Accordion content
                dl.accordion(tabindex='-1')
                    dt Accordion title
                    dd Accordion content
                br
                h6 JS
                br
                dl.accordion(data-accordion='collapsed')
                    dt Accordion title
                    dd Accordion content
                dl.accordion(data-accordion='expanded')
                    dt Accordion title
                    dd
                        | Accordion content
                        dl.accordion(data-accordion='collapsed')
                            dt Nested accordion title
                            dd Nested accordion content
                        dl.accordion(data-accordion='expanded')
                            dt Nested accordion title
                            dd Nested accordion content

    br

    article#anchor-tooltips(style='min-height: 50vh;')
        .container
            section
                h5 Tooltips
                br
                button.tooltip(type='button' data-action='hover' data-position='top')
                    | Tooltip hover top
                    .tooltip__popup(role='tooltip')
                        | Tooltip content

                button.tooltip(type='button' data-action='focus' data-position='bottom')
                    | Tooltip focus bottom
                    .tooltip__popup(role='tooltip')
                        | Tooltip content

                button.tooltip(type='button' data-action='active' data-position='right')
                    | Tooltip active right
                    .tooltip__popup(role='tooltip')
                        | Tooltip content

                button.tooltip(type='button' data-action='active' data-position='left')
                    | Tooltip active left
                    .tooltip__popup(role='tooltip')
                        | Tooltip content

    br

    article#anchor-headings(style='min-height: 50vh;')
        .container
            h1 Heading 1
            br
            h2 Heading 2
            br
            h3 Heading 3
            br
            h4 Heading 4
            br
            h5 Heading 5
            br
            h6 Heading 6

    br

    article#anchor-forms(style='min-height: 50vh;')
        .container
            h5 Forms
            br
            section
                h6 Checkboxes
                br
                p
                    span.checkbox
                        input(type='checkbox')
                        span
                    span.checkbox
                        input(type='checkbox' checked)
                        span
                    span.checkbox
                        input(type='checkbox' disabled)
                        span
                    span.checkbox
                        input(type='checkbox' checked disabled)
                        span
                br
                p
                    label.label.label--has-checkbox
                        span.checkbox
                            input(type='checkbox')
                            span
                        | Checkbox

            br
            section
                h6 Radiobuttons
                br
                p
                    span.radiobutton
                        input(type='radio' name='radio1')
                        span
                    span.radiobutton
                        input(type='radio' name='radio1' checked)
                        span
                    span.radiobutton
                        input(type='radio' name='radio2' disabled)
                        span
                    span.radiobutton
                        input(type='radio' name='radio2' checked disabled)
                        span
                br
                p
                    label.label.label--has-radiobutton
                        span.radiobutton
                            input(type='radio' name='radio3')
                            span
                        | Radiobutton



block append scripts
    script.
        $('[data-accordion]').accordion({
            collapseOthers: true,
            callbacks: {
                afterExpanded: function() {
                    console.log('accordion.afterExpanded');
                },
                afterCollapsed: function() {
                    console.log('accordion.afterCollapsed');
                }
            }
        });

        $('.js-anchor').anchor({
            speed: 400,
            offset: 40,
            callbacks: {
                afterScroll: function() {
                    console.log('anchor.afterScroll');
                }
            }
        });
