@charset "UTF-8";

@if $enable-rub-tahoma == true {
    @font-face {
        src: url("../fonts/rub/tahoma/alsrubl-tahoma-regular.woff") format("woff");
        font: {
            family: ALSRubl-Tahoma;
            style: normal;
            weight: normal;
        }
    }

    @font-face {
        src: url("../fonts/rub/tahoma/alsrubl-tahoma-bold.woff") format("woff");
        font: {
            family: ALSRubl-Tahoma;
            style: normal;
            weight: bold;
        }
    }

    .rub-tahoma {
        font-family: ALSRubl-Tahoma, Tahoma, sans-serif;
        line-height: normal;
    }
}
