@charset "UTF-8";

@if $enable-checkboxes == true {
    .checkbox {
        @include size($checkbox-size);
        position: relative;
        display: inline-block;

        > input {
            @include position(absolute, 0 null null 0);
            @include size(100%);
            z-index: 2;
            opacity: 0;

            + span {
                @include position(absolute, 0);
                z-index: 1;
                border: 1px solid $color-base-lightest;

                &::after {
                    @include position(absolute, 50% null null 50%);
                    @include size(0);
                    transform: translate(-50%, -50%);
                    background: $color-base;
                    content: "";
                    transition: all $transition-duration-base;
                }
            }

            &:checked + span::after {
                @include size($checkbox-size / 2);
            }

            &:disabled {
                cursor: not-allowed;

                + span {
                    opacity: .2;
                }
            }
        }
    }
}
