doctype html

html
    head
        block title
        link(rel='stylesheet' media='all' href='../assets/stylesheets/application.css')
        script(src='../../vendor/javascripts/modernizr-custom.js')

    body
        include components/_site_header

        main.site-content(role='main')
            block main

        include components/_site_footer

        block scripts
            script(src='../../node_modules/jquery/dist/jquery.js')
            script(src='../../node_modules/svg4everybody/dist/svg4everybody.js')

            script(src='../assets/javascripts/_config.js')
            script(src='../assets/javascripts/_functions.js')
            script(src='../assets/javascripts/_variables.js')
            script(src='../assets/javascripts/_icons.js')

            script(src='../assets/javascripts/plugins/_accordions.js')
            script(src='../assets/javascripts/plugins/_anchors.js')

            script(src='../assets/javascripts/components/_site_header.js')
